@{
    ViewData["Title"] = "Store Front";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the online store front!</h1>
</div>

<div class="text-center">
    <p>Navigate using the tabs above to see customers, stores and the items they have in stock, and to place a new order.</p>
</div>
