@model IEnumerable<Project1.WebApp.ViewModels.OrderViewModel>

<p>
    <a asp-action="Create">Place New Order</a>
</p>
<p>
    <a asp-action="DisplayCustOrders">Show Customer Orders</a>
</p>
<p>
    <a asp-action="DisplayStoreOrders">Show Store Orders</a>
</p>